[user]
	email = accounts@pascalbrokmeier.de
	name = pascalwhoop
[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/Documents/Code/.gitignore
#[credential]
#	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
# Enforce SSH
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/
[url "ssh://git@bitbucket.org/"]
  insteadOf = https://bitbucket.org/
