[user]
	email = accounts@pascalbrokmeier.de
	name = Pascal Brokmeier
[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.config/.gitignore
#[credential]
#	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
# Enforce SSH
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/
[url "ssh://git@bitbucket.org/"]
  insteadOf = https://bitbucket.org/
[url "https://bitbucket.brusselsairport.be/scm/"]
  insteadOf = ssh://git@bitbucket.brusselsairport.be:22/
[credential]
	helper = cache --timeout=43200
