[user]
	email = git@pascalbrokmeier.de
	name  = Pascal Brokmeier
	signingkey = BB6E506D63C258297A2ADA481C49A27D63A8B5A0
[includeIf "gitdir:~/Documents/Code/work/"]
    path = ~/.config/git/gitconfig-work
[includeIf "gitdir:~/Documents/Code/play/"]
    path = ~/.config/git/gitconfig-play
[commit]
    gpgSign = true

[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.config/.gitignore
#[credential]
#	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring

# Enforce SSH
#
#[url "ssh://git@github.com/"]
#  insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/
[url "ssh://git@bitbucket.org/"]
  insteadOf = https://bitbucket.org/
[url "https://bitbucket.brusselsairport.be/scm/"]
  insteadOf = ssh://git@bitbucket.brusselsairport.be:22/
[credential]
	helper = cache --timeout=43200
[gpg]
	program = gpg2
