*.jar
*.db
*.pickle


.IntelliJIdea2018.1/config/disabled_plugins.txt
.IntelliJIdea2018.1/config/disabled_update.txt
.IntelliJIdea2018.1/config/idea.key
.IntelliJIdea2018.1/config/inspection/
.IntelliJIdea2018.1/config/jdbc-drivers/
.IntelliJIdea2018.1/config/options/
.IntelliJIdea2018.1/config/plugins/
.IntelliJIdea2018.1/config/port
.IntelliJIdea2018.1/config/port.lock
.IntelliJIdea2018.1/config/settings.jar
.IntelliJIdea2018.1/config/tasks/
.IntelliJIdea2018.1/config/templates/
.IntelliJIdea2018.1/system/
.PyCharmCE2018.1/config/codestyles/
.PyCharmCE2018.1/config/disabled_plugins.txt
.PyCharmCE2018.1/config/disabled_update.txt
.PyCharmCE2018.1/config/inspection/
.PyCharmCE2018.1/config/options/
.PyCharmCE2018.1/config/plugins/
.PyCharmCE2018.1/config/port
.PyCharmCE2018.1/config/port.lock
.PyCharmCE2018.1/config/tasks/
.PyCharmCE2018.1/config/templates/
.PyCharmCE2018.1/system/
.WebStorm2018.1/config/disabled_plugins.txt
.WebStorm2018.1/config/options/debugger.xml
.WebStorm2018.1/config/options/dimensions.xml
.WebStorm2018.1/config/options/editor.xml
.WebStorm2018.1/config/options/extensionsRootType.xml
.WebStorm2018.1/config/options/find.xml
.WebStorm2018.1/config/options/git.xml
.WebStorm2018.1/config/options/ide.general.xml
.WebStorm2018.1/config/options/ignore.xml
.WebStorm2018.1/config/options/images.support.xml
.WebStorm2018.1/config/options/keymap.xml
.WebStorm2018.1/config/options/laf.xml
.WebStorm2018.1/config/options/markdown.xml
.WebStorm2018.1/config/options/options.xml
.WebStorm2018.1/config/options/other.xml
.WebStorm2018.1/config/options/plugin_ui.xml
.WebStorm2018.1/config/options/project.default.xml
.WebStorm2018.1/config/options/recentProjectDirectories.xml
.WebStorm2018.1/config/options/runner.layout.xml
.WebStorm2018.1/config/options/stubIndex.xml
.WebStorm2018.1/config/options/ui.lnf.xml
.WebStorm2018.1/config/options/updates.xml
.WebStorm2018.1/config/options/usage.statistics.xml
.WebStorm2018.1/config/options/vim_settings.xml
.WebStorm2018.1/config/options/window.manager.xml
.WebStorm2018.1/config/options/window.state.xml
.WebStorm2018.1/config/plugins/
.WebStorm2018.1/config/port.lock
.WebStorm2018.1/config/tasks/
.WebStorm2018.1/config/templates/
.WebStorm2018.1/config/webstorm.key
.WebStorm2018.1/system/
.bash_history
.bash_logout
.cache/
.config/Atom/Cache/
.config/Atom/Cookies
.config/Atom/Cookies-journal
.config/Atom/GPUCache/
.config/Atom/IndexedDB/
.config/Atom/Local Storage/
.config/Atom/QuotaManager
.config/Atom/QuotaManager-journal
.config/Atom/databases/
.config/Code/
.config/GIMP/
.config/GitKraken/
.config/Google Play Music Desktop Player/
.config/MusicBrainz/
.config/QtProject.conf
.config/Signal/
.config/Slack/
.config/Thunar/
.config/albert/core.db
.config/albert/last_used_version
.config/albert/org.albert.extension.snippets/
.config/albert/org.albert.extension.websearch/
.config/beets/library.db
.config/beets/state.pickle
.config/configstore/
.config/copyq/
.config/devilspie2/
.config/discord/
.config/dleyna-renderer-service.conf
.config/lxsession/
.config/manjaro/
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/pavucontrol-qt/
.config/pcmanfm/
.config/pulse/
.config/ranger/bookmarks
.config/ranger/tagged
.config/skypeforlinux/
.config/sonata/art_cache
.config/spotify/
.config/tilda/
.config/transmission/
.config/user-dirs.locale
.config/whats-app-nativefier-7bbd2c/
.config/whatsapp-nativefier-d52542/
.config/wpg/templates/
.curlrc
.dmrc
.docker/
.duply/
.editorconfig
.electron-gyp/
.electron/
.esd_auth
.fehbg
.gist
.git-credentials
.gitkraken/
.gnupg/
.gtk-bookmarks
.gtkrc-2.0
.inputrc
.ipynb_checkpoints/
.ipython/
.java/
.lesshst
.local/
.lyrics/
.m2/
.mozilla/
.ncmpcpp/
.node-gyp/
.npm/
.nv/
.nvidia-settings-rc
.nvm/
.password-store/
.python_history
.recoll/
.ssh/
.ssr/
.thunderbird/
.v8flags.5.1.281.89.pascalwhoop.json
.vim/.netrwhist
.vim/Ditto/
.vim/autosess/
.vim/bundle/
.vim/spell/
.viminfo
.vscode/
Apps/
Audio/
Desktop/
Documents/
Downloads/
Music
Pictures/
VMs/
Videos/
dotfiles
snap/
tank/
.Xauthority
