!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    100
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

!-------------------------------------------------------------------------------
! URxvt settings
! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
! More info at:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!-------------------------------------------------------------------------------
URxvt.keysym.Control-Mod4-C: eval:selection_to_clipboard
URxvt.keysym.Control-Mod4-V: eval:paste_clipboard
URxvt.perl-ext-common:       default,resize-font
URxvt.keysym.C-minus:        resize-font:smaller
URxvt.keysym.C-plus:         resize-font:bigger
URxvt.keysym.C-equal:        resize-font:reset
URxvt.keysym.C-question:     resize-font:show
URxvt*saveLines:             65535
!Font settings
URxvt.depth:                 32
URxvt.geometry:              90x30
URxvt.transparent:           false
URxvt.fading:                0
!icon
URxvt.iconFile:              /usr/share/icons/breeze-dark/apps/64/utilities-terminal.svg
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:            true
URxvt.internalBorder:        3
URxvt.lineSpace:             0
! Fonts
URxvt.allow_bold:            true
/* URxvt.font:                 -*-terminus-medium-r-normal-*-12-120-72-72-c-60-iso8859-1 */
!URxvt*font:              xft:monospace:size=14
!URxvt*boldFont:          xft:monospace:size=14
URxvt*font:                  xft:Fantasque Sans Mono NF:size=13
URxvt*boldFont:              xft:Fantasque Sans Mono NF:size=13
! Fix font space
!URxvt*letterSpace:       -1
URxvt*letterSpace:           -1
! Scrollbar
URxvt.scrollStyle:           rxvt
URxvt.scrollBar:             false
! Perl extensions
URxvt.perl-ext-common:       default,matcher
URxvt.matcher.button:        1
URxvt.urlLauncher:           firefox
! Cursor
URxvt.cursorBlink:           false
!URxvt.cursorColor:          #657b83
URxvt.cursorColor:           #dc1315
URxvt.cursorUnderline:       false
! Pointer
URxvt.pointerBlank:          true
! X colors.
! Generated by 'wal'
*foreground:        #c8c7c6
*background:        #231f1d
*.foreground:       #c8c7c6
*.background:       #231f1d
emacs*foreground:   #c8c7c6
emacs*background:   #231f1d
URxvt*foreground:   #c8c7c6
XTerm*foreground:   #c8c7c6
UXTerm*foreground:  #c8c7c6
URxvt*background:   [100]#231f1d
XTerm*background:   #231f1d
UXTerm*background:  #231f1d
URxvt*cursorColor:  #c8c7c6
XTerm*cursorColor:  #c8c7c6
UXTerm*cursorColor: #c8c7c6
URxvt*borderColor:  [100]#231f1d

! Colors 0-15.
*.color0: #231f1d
*color0:  #231f1d
*.color1: #ab8b83
*color1:  #ab8b83
*.color2: #c5aa98
*color2:  #c5aa98
*.color3: #bfbfb9
*color3:  #bfbfb9
*.color4: #5688aa
*color4:  #5688aa
*.color5: #8196ab
*color5:  #8196ab
*.color6: #a49fa5
*color6:  #a49fa5
*.color7: #c8c7c6
*color7:  #c8c7c6
*.color8: #5a5755
*color8:  #5a5755
*.color9: #ab8b83
*color9:  #ab8b83
*.color10: #c5aa98
*color10:  #c5aa98
*.color11: #bfbfb9
*color11:  #bfbfb9
*.color12: #5688aa
*color12:  #5688aa
*.color13: #8196ab
*color13:  #8196ab
*.color14: #a49fa5
*color14:  #a49fa5
*.color15: #c8c7c6
*color15:  #c8c7c6

! Black color that will not be affected by bold highlighting.
*.color66: #231f1d
*color66:  #231f1d

! Xclock colors.
XClock*foreground: #c8c7c6
XClock*background: #231f1d
XClock*majorColor:  rgba:c8/c7/c6/ff
XClock*minorColor:  rgba:c8/c7/c6/ff
XClock*hourColor:   rgba:c8/c7/c6/ff
XClock*minuteColor: rgba:c8/c7/c6/ff
XClock*secondColor: rgba:c8/c7/c6/ff

! Set depth to make transparency work.
URxvt*depth: 32
!!Source http://github.com/altercation/solarized

!! black dark/light
URxvt*color0: #073642
URxvt*color8: #002b36

!! red dark/light
URxvt*color1: #dc322f
URxvt*color9: #cb4b16

!! green dark/light
URxvt*color2: #859900
URxvt*color10: #586e75

!! yellow dark/light
URxvt*color3: #b58900
URxvt*color11: #657b83

!! blue dark/light
URxvt*color4: #268bd2
URxvt*color12: #839496

!! magenta dark/light
URxvt*color5: #d33682
URxvt*color13: #6c71c4

!! cyan dark/light
URxvt*color6: #2aa198
URxvt*color14: #93a1a1

!! white dark/light
URxvt*color7: #eee8d5
URxvt*color15: #fdf6e3

