!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    100
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

!-------------------------------------------------------------------------------
! URxvt settings
! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
! More info at:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!-------------------------------------------------------------------------------
URxvt.keysym.Control-Mod4-C: eval:selection_to_clipboard
URxvt.keysym.Control-Mod4-V: eval:paste_clipboard
URxvt*dynamicColors:         on
URxvt.keysym.C-minus:        resize-font:smaller
URxvt.keysym.C-plus:         resize-font:bigger
URxvt.keysym.C-equal:        resize-font:reset
URxvt.keysym.C-question:     resize-font:show
URxvt*saveLines:             65535
!Font settings
URxvt.depth:                 32
URxvt.geometry:              90x30
URxvt.transparent:           false
URxvt.fading:                0
!icon
URxvt.iconFile:              /usr/share/icons/breeze-dark/apps/64/utilities-terminal.svg
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:            true
URxvt.internalBorder:        3
URxvt.lineSpace:             0
! Fonts
URxvt.allow_bold:            true
/* URxvt.font:                 -*-terminus-medium-r-normal-*-12-120-72-72-c-60-iso8859-1 */
!URxvt*font:              xft:monospace:size=14
!URxvt*boldFont:          xft:monospace:size=14
URxvt*font:                  xft:Fantasque Sans Mono NF:size=13
URxvt*boldFont:              xft:Fantasque Sans Mono NF:size=13
! Fix font space
URxvt*letterSpace:           -1
! Scrollbar
URxvt.scrollStyle:           rxvt
URxvt.scrollBar:             false
! Perl extensions
URxvt.perl-ext-common:       default,matcher,resize-font
URxvt.urlLauncher:           firefox
URxvt.matcher.pattern.1:     \\bwww\\.[\\w-]\\.[\\w./?&amp;@#-]*[\\w/-]
URxvt.matcher.button:        1
! Cursor
URxvt.cursorBlink:           true
!URxvt.cursorColor:          #657b83
URxvt.cursorColor:           #dc1315
URxvt.cursorUnderline:       false
! Pointer
URxvt.pointerBlank:          true
! Set depth to make transparency work.
URxvt*depth:                 32


#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

*background:            [93]#2F343F
*foreground:            S_base0
*fadeColor:             S_base03
*cursorColor:           S_base1
*pointerColorBackground:S_base01
*pointerColorForeground:S_base1

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
*color0:                S_base02
*color8:                S_base03

!! red dark/light
*color1:                S_red
*color9:                S_orange

!! green dark/light
*color2:                S_green
*color10:               S_base01

!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00

!! blue dark/light
*color4:                S_blue
*color12:               S_base0

!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1

!! white dark/light
*color7:                S_base2
*color15:               S_base3
